/* Basic set up */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}
section{
    padding: 30px 0;
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

/* Reusable Components */

.button{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


/* Header Section */
.header-section{
    padding: 30px 0;
    height: 140vh;
    background: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top top;
   
}
.dropdown-submenu{
    margin-left: 100px;
}

.dropdown-menu{
    background-color: rgba(0,0,0,.5);
}
.dropdown-item{
    color: #fff;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
.header-text{
    width: 60%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.header-h1{
    font-size: 75px;
    font-weight: 300;
}
.header-h2{
    font-size:30px;
    font-weight: 400;
}

.btn1:hover{
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.btn2:hover{
    background-color: #015ECE;
    border-color:#015ECE ;
    color: #fff;
}